.board_table {
  border: 1px solid #E4E4E4;
  border-collapse: collapse;
  width: 100%;
}
.board_table th {
  background-color: #EEE;
  padding: 4px;
  white-space: nowrap;
}
.board_table p {
  margin: 10px auto;
}
.board_table .board_table_avatar {
  width: 160px;
  text-align: center;
  border-right: 1px solid #E4E4E4;
  padding-top: 10px;
}
.board_table .board_table_content .wiki {
  min-height: 100px;
}
.board_table .board_author {
  line-height: 30px;
}
.board_table_content .signature {
  border-top: 1px solid #E4E4E4;
  padding: 10px;
}
.board_table_content .post_time {
  line-height: 30px;
  color: grey;
}
.board_table_content .post_time a {
  color: grey;
}
h2 span.small {
  font-size: 10px !important;
  font-weight: normal;
}